@font-face {
    font-family: "anurati";
    src: url("anurati.otf");
}
@font-face {
    font-family: "minecraft";
    src: url("minecraft.otf");
}
@font-face {
    font-family: "nasa";
    src: url("nasalisation.otf");
}
#nav{
    background-color: #34463aa2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width:100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    border-radius: 4px;
}
li a{
    font-family: nasa;
    max-width: 60vw;
    display: block;
    color: rgb(189, 223, 228);
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    text-align:center;
    font-size: 20px;
    }
    
li a:hover {
    background-color: rgb(189, 223, 228);
    color: #34463A;
    }
body::-webkit-scrollbar{
    width: 0rem;
}
h1{
    font-family: nasa;
    font-size: max(5vw,60px);
    color:rgb(68, 87, 75);
}
fieldset{
    font-family: nasa;
    color: #34463A;
    border-radius: 30px;
    border-width: 10px;
    border-color: #34463A;
    font-size: 19px;
    padding:6px;
}
#code{
    background-color: rgba(102, 100, 100, 0.452);
    padding:6px;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    min-width: 0px;
    font-family: monospace;
}
img{
    align-self: center;
    max-width: 60%;
    width:80vw;
    border-radius: 10px;
}